*{
	font-family:monospace;
}

h3{
	margin-top:14px;
	margin-bottom:2px;
}

body{
	position:relative;
	background:#eee;
}

iframe{
	border:0px;
	margin:0px;
	min-width:0px;
	min-height:0px;
}

#pls_status{
	position:absolute;
	top:10px;
	right:10px;
	border:2px solid #444;
	padding:16px;
	padding-top:0px;
	display:block;
	z-index:10;
}

#loginform label,
#regform label{
	display:inline-block;
	width:80px;
	text-align:right;
	margin-right:5px;
}

.warning{
	padding:8px 8px;
	margin:2px -3px;
	background:#eedddd;
	border:1px solid #ddcccc;
	color:#440000;
	font-size:110%;
	margin-right:320px;
}

.warning span:first-child{
	font-weight:bold;
}

